.addcandi{
    width: 70%;
    margin-top: 20px;
    margin-left: 40px;
}

.add{
    background-color: green;
    border: 1px solid green;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
}